In [1]:
#Imports
import os
os.environ["OMP_NUM_THREADS"] = '1'
import pandas as pd
import numpy as np

# Data imports

In [2]:
title_basics='https://datasets.imdbws.com/title.basics.tsv.gz'
title_akas='https://datasets.imdbws.com/title.akas.tsv.gz'
title_ratings='https://datasets.imdbws.com/title.ratings.tsv.gz'

In [3]:
basics=pd.read_csv(title_basics,sep='\t',low_memory=False)
akas=pd.read_csv(title_akas,sep='\t',low_memory=False)
ratings=pd.read_csv(title_ratings,sep='\t',low_memory=False)

# Filtering

In [4]:
#Filtering etc..
akas = akas.loc[akas['region'] == 'US']
keep = basics['tconst'].isin(akas['titleId'])
basics = basics[keep]
akas = akas[akas['titleId'].isin(basics['tconst'])]
ratings = ratings[ratings['tconst'].isin(basics['tconst'])]

In [5]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
...,...,...,...,...,...,...,...,...,...
10011566,tt9916560,tvMovie,March of Dimes Presents: Once Upon a Dime,March of Dimes Presents: Once Upon a Dime,0,1963,\N,58,Family
10011595,tt9916620,movie,The Copeland Case,The Copeland Case,0,\N,\N,\N,Drama
10011633,tt9916702,short,Loving London: The Playground,Loving London: The Playground,0,\N,\N,\N,"Drama,Short"
10011656,tt9916756,short,Pretty Pretty Black Girl,Pretty Pretty Black Girl,0,2019,\N,\N,Short
10011660,tt9916764,short,38,38,0,2018,\N,\N,Short

In [6]:
#Replacing \\N with np.NaN
basics.replace({'\\N':np.NaN},inplace=True)
akas.replace({'\\N':np.NaN},inplace=True)
ratings.replace({'\\N':np.NaN},inplace=True)

In [7]:
basics['runtimeMinutes'].value_counts()

60      39234
30      36778
5       25006
10      24003
7       22539
        ...
834         1
2580        1
1620        1
1271        1
462         1
Name: runtimeMinutes, Length: 703, dtype: int64

In [8]:
basics.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [9]:
basics['runtimeMinutes'].unique()

array(['1', '5', '45', '2', '0', nan, '3', '100', '6', '4', '11', '10',
       '13', '15', '21', '16', '8', '14', '12', '7', '9', '17', '70',
       '90', '120', '44', '20', '38', '25', '50', '22', '35', '42', '18',
       '30', '51', '52', '60', '36', '26', '24', '53', '41', '48', '47',
       '34', '19', '33', '28', '29', '71', '23', '46', '32', '85', '40',
       '27', '150', '300', '121', '31', '43', '69', '56', '54', '61',
       '39', '55', '57', '110', '88', '86', '170', '72', '78', '75',
       '450', '148', '80', '37', '124', '220', '59', '68', '63', '112',
       '1428', '84', '65', '74', '105', '310', '73', '81', '199', '139',
       '99', '109', '58', '82', '67', '195', '440', '77', '49', '79',
       '62', '66', '250', '421', '360', '180', '93', '64', '163', '400',
       '95', '140', '116', '320', '125', '97', '138', '350', '374', '92',
       '330', '91', '108', '87', '136', '600', '117', '410', '76', '418',
       '223', '489', '102', '200', '98', '96', '119', '122', '115', '166',
       '101', '238', '106', '111', '172', '167', '130', '107', '94',
       '248', '104', '145', '235', '89', '131', '83', '242', '128', '143',
       '137', '183', '210', '133', '135', '417', '103', '141', '153',
       '132', '129', '123', '144', '155', '151', '114', '113', '179',
       '260', '230', '160', '118', '142', '185', '380', '156', '127',
       '215', '213', '147', '266', '152', '217', '226', '134', '194',
       '240', '225', '216', '227', '231', '157', '218', '246', '243',
       '279', '208', '228', '229', '212', '236', '306', '257', '245',
       '197', '255', '219', '323', '305', '328', '269', '176', '232',
       '258', '256', '281', '303', '290', '308', '224', '294', '252',
       '268', '126', '204', '298', '299', '264', '149', '211', '302',
       '263', '265', '205', '237', '285', '293', '267', '247', '165',
       '241', '289', '283', '270', '251', '184', '278', '196', '261',
       '275', '280', '244', '146', '177', '154', '189', '169', '284',
       '295', '201', '221', '159', '192', '207', '164', '193', '287',
       '171', '161', '181', '315', '182', '162', '239', '173', '158',
       '174', '178', '168', '190', '175', '186', '188', '191', '234',
       '453', '378', '203', '253', '344', '540', '476', '451', '202',
       '890', '390', '340', '187', '669', '566', '317', '770', '198',
       '288', '382', '1335', '588', '750', '442', '333', '1256', '780',
       '510', '475', '271', '480', '420', '291', '309', '840', '931',
       '676', '547', '673', '394', '301', '233', '381', '659', '504',
       '282', '720', '460', '883', '385', '313', '778', '413', '402',
       '272', '222', '924', '391', '396', '561', '428', '307', '304',
       '570', '569', '371', '415', '870', '572', '407', '375', '1271',
       '355', '353', '357', '384', '1620', '358', '335', '680', '398',
       '606', '206', '322', '834', '1140', '522', '273', '361', '439',
       '327', '316', '623', '537', '416', '341', '650', '314', '277',
       '366', '672', '700', '702', '660', '356', '583', '312', '343',
       '336', '1120', '1500', '209', '594', '321', '286', '485', '1800',
       '376', '1440', '491', '776', '214', '369', '345', '254', '276',
       '960', '535', '395', '544', '5220', '877', '389', '464', '296',
       '629', '689', '793', '352', '2925', '348', '608', '2880', '1084',
       '550', '701', '530', '274', '551', '262', '311', '545', '500',
       '579', '408', '552', '715', '580', '325', '331', '730', '1973',
       '765', '2001', '1000', '2002', '2000', '1999', '1997', '372',
       '338', '598', '334', '441', '1932', '520', '466', '538', '4800',
       '3900', '1380', '434', '1290', '1170', '392', '1020', '249', '379',
       '900', '519', '259', '469', '1200', '1320', '351', '490', '467',
       '339', '403', '370', '373', '346', '388', '426', '422', '383',
       '507', '319', '297', '368', '2160', '494', '342', '446', '516',
       '364', '1250', '13319', '292', '1325', '584', '573', '624', '427',
       '35791', '367', '479', '1845', '362', '354', '663', '575', '429',
       '435', '473', '576', '329', '332', '468', '785', '586', '499',
       '359', '534', '554', '437', '449', '496', '518', '363', '539',
       '399', '512', '950', '409', '443', '448', '619', '337', '324',
       '529', '444', '318', '675', '568', '459', '397', '412', '542',
       '347', '401', '2580', '326', '1080', '961', '964', '1860', '509',
       '484', '901', '546', '7200', '493', '652', '508', '425', '528',
       '430', '2010', '502', '751', '761', '1050', '845', '853', '513',
       '2400', '990', '1669', '525', '406', '472', '865', '445', '970',
       '393', '12000', '463', '447', '565', '3720', '642', '465', '2252',
       '724', '54321', '387', '1260', '613', '411', '696', '758', '557',
       '719', '501', '640', '481', '912', '424', '404', '703', '1584',
       '455', '536', '532', '625', '940', '795', '1470', '43200', '747',
       '1005', '487', '438', '431', '1151', '740', '549', '386', '377',
       '349', '1207', '3240', '1068', '474', '607', '452', '478', '1559',
       '958', '630', '959', '810', '492', '470', '1044', '454', '1616',
       '2070', '593', '923', '789', '436', '483', '4162', '477', '697',
       '1228', '482', '2015', '527', '773', '526', '1439', '1329', '432',
       '599', '954', '5760', '746', '486', '2800', '458', '461', '51420',
       '495', '614', '1750', '808', '2112', '556', '716', '590', '462'],
      dtype=object)

In [10]:
# TO numeric, then astype string for runtime minutes.
basics['runtimeMinutes']= pd.to_numeric(basics['runtimeMinutes'],errors='coerce').astype(str)
#Dropping NaN values
basics['runtimeMinutes'].replace({'nan':np.NaN},inplace=True)
basics=basics.dropna(subset=['runtimeMinutes'])

In [11]:
basics['runtimeMinutes'].unique()

array(['1.0', '5.0', '45.0', '2.0', '0.0', '3.0', '100.0', '6.0', '4.0',
       '11.0', '10.0', '13.0', '15.0', '21.0', '16.0', '8.0', '14.0',
       '12.0', '7.0', '9.0', '17.0', '70.0', '90.0', '120.0', '44.0',
       '20.0', '38.0', '25.0', '50.0', '22.0', '35.0', '42.0', '18.0',
       '30.0', '51.0', '52.0', '60.0', '36.0', '26.0', '24.0', '53.0',
       '41.0', '48.0', '47.0', '34.0', '19.0', '33.0', '28.0', '29.0',
       '71.0', '23.0', '46.0', '32.0', '85.0', '40.0', '27.0', '150.0',
       '300.0', '121.0', '31.0', '43.0', '69.0', '56.0', '54.0', '61.0',
       '39.0', '55.0', '57.0', '110.0', '88.0', '86.0', '170.0', '72.0',
       '78.0', '75.0', '450.0', '148.0', '80.0', '37.0', '124.0', '220.0',
       '59.0', '68.0', '63.0', '112.0', '1428.0', '84.0', '65.0', '74.0',
       '105.0', '310.0', '73.0', '81.0', '199.0', '139.0', '99.0',
       '109.0', '58.0', '82.0', '67.0', '195.0', '440.0', '77.0', '49.0',
       '79.0', '62.0', '66.0', '250.0', '421.0', '360.0', '180.0', '93.0',
       '64.0', '163.0', '400.0', '95.0', '140.0', '116.0', '320.0',
       '125.0', '97.0', '138.0', '350.0', '374.0', '92.0', '330.0',
       '91.0', '108.0', '87.0', '136.0', '600.0', '117.0', '410.0',
       '76.0', '418.0', '223.0', '489.0', '102.0', '200.0', '98.0',
       '96.0', '119.0', '122.0', '115.0', '166.0', '101.0', '238.0',
       '106.0', '111.0', '172.0', '167.0', '130.0', '107.0', '94.0',
       '248.0', '104.0', '145.0', '235.0', '89.0', '131.0', '83.0',
       '242.0', '128.0', '143.0', '137.0', '183.0', '210.0', '133.0',
       '135.0', '417.0', '103.0', '141.0', '153.0', '132.0', '129.0',
       '123.0', '144.0', '155.0', '151.0', '114.0', '113.0', '179.0',
       '260.0', '230.0', '160.0', '118.0', '142.0', '185.0', '380.0',
       '156.0', '127.0', '215.0', '213.0', '147.0', '266.0', '152.0',
       '217.0', '226.0', '134.0', '194.0', '240.0', '225.0', '216.0',
       '227.0', '231.0', '157.0', '218.0', '246.0', '243.0', '279.0',
       '208.0', '228.0', '229.0', '212.0', '236.0', '306.0', '257.0',
       '245.0', '197.0', '255.0', '219.0', '323.0', '305.0', '328.0',
       '269.0', '176.0', '232.0', '258.0', '256.0', '281.0', '303.0',
       '290.0', '308.0', '224.0', '294.0', '252.0', '268.0', '126.0',
       '204.0', '298.0', '299.0', '264.0', '149.0', '211.0', '302.0',
       '263.0', '265.0', '205.0', '237.0', '285.0', '293.0', '267.0',
       '247.0', '165.0', '241.0', '289.0', '283.0', '270.0', '251.0',
       '184.0', '278.0', '196.0', '261.0', '275.0', '280.0', '244.0',
       '146.0', '177.0', '154.0', '189.0', '169.0', '284.0', '295.0',
       '201.0', '221.0', '159.0', '192.0', '207.0', '164.0', '193.0',
       '287.0', '171.0', '161.0', '181.0', '315.0', '182.0', '162.0',
       '239.0', '173.0', '158.0', '174.0', '178.0', '168.0', '190.0',
       '175.0', '186.0', '188.0', '191.0', '234.0', '453.0', '378.0',
       '203.0', '253.0', '344.0', '540.0', '476.0', '451.0', '202.0',
       '890.0', '390.0', '340.0', '187.0', '669.0', '566.0', '317.0',
       '770.0', '198.0', '288.0', '382.0', '1335.0', '588.0', '750.0',
       '442.0', '333.0', '1256.0', '780.0', '510.0', '475.0', '271.0',
       '480.0', '420.0', '291.0', '309.0', '840.0', '931.0', '676.0',
       '547.0', '673.0', '394.0', '301.0', '233.0', '381.0', '659.0',
       '504.0', '282.0', '720.0', '460.0', '883.0', '385.0', '313.0',
       '778.0', '413.0', '402.0', '272.0', '222.0', '924.0', '391.0',
       '396.0', '561.0', '428.0', '307.0', '304.0', '570.0', '569.0',
       '371.0', '415.0', '870.0', '572.0', '407.0', '375.0', '1271.0',
       '355.0', '353.0', '357.0', '384.0', '1620.0', '358.0', '335.0',
       '680.0', '398.0', '606.0', '206.0', '322.0', '834.0', '1140.0',
       '522.0', '273.0', '361.0', '439.0', '327.0', '316.0', '623.0',
       '537.0', '416.0', '341.0', '650.0', '314.0', '277.0', '366.0',
       '672.0', '700.0', '702.0', '660.0', '356.0', '583.0', '312.0',
       '343.0', '336.0', '1120.0', '1500.0', '209.0', '594.0', '321.0',
       '286.0', '485.0', '1800.0', '376.0', '1440.0', '491.0', '776.0',
       '214.0', '369.0', '345.0', '254.0', '276.0', '960.0', '535.0',
       '395.0', '544.0', '5220.0', '877.0', '389.0', '464.0', '296.0',
       '629.0', '689.0', '793.0', '352.0', '2925.0', '348.0', '608.0',
       '2880.0', '1084.0', '550.0', '701.0', '530.0', '274.0', '551.0',
       '262.0', '311.0', '545.0', '500.0', '579.0', '408.0', '552.0',
       '715.0', '580.0', '325.0', '331.0', '730.0', '1973.0', '765.0',
       '2001.0', '1000.0', '2002.0', '2000.0', '1999.0', '1997.0',
       '372.0', '338.0', '598.0', '334.0', '441.0', '1932.0', '520.0',
       '466.0', '538.0', '4800.0', '3900.0', '1380.0', '434.0', '1290.0',
       '1170.0', '392.0', '1020.0', '249.0', '379.0', '900.0', '519.0',
       '259.0', '469.0', '1200.0', '1320.0', '351.0', '490.0', '467.0',
       '339.0', '403.0', '370.0', '373.0', '346.0', '388.0', '426.0',
       '422.0', '383.0', '507.0', '319.0', '297.0', '368.0', '2160.0',
       '494.0', '342.0', '446.0', '516.0', '364.0', '1250.0', '13319.0',
       '292.0', '1325.0', '584.0', '573.0', '624.0', '427.0', '35791.0',
       '367.0', '479.0', '1845.0', '362.0', '354.0', '663.0', '575.0',
       '429.0', '435.0', '473.0', '576.0', '329.0', '332.0', '468.0',
       '785.0', '586.0', '499.0', '359.0', '534.0', '554.0', '437.0',
       '449.0', '496.0', '518.0', '363.0', '539.0', '399.0', '512.0',
       '950.0', '409.0', '443.0', '448.0', '619.0', '337.0', '324.0',
       '529.0', '444.0', '318.0', '675.0', '568.0', '459.0', '397.0',
       '412.0', '542.0', '347.0', '401.0', '2580.0', '326.0', '1080.0',
       '961.0', '964.0', '1860.0', '509.0', '484.0', '901.0', '546.0',
       '7200.0', '493.0', '652.0', '508.0', '425.0', '528.0', '430.0',
       '2010.0', '502.0', '751.0', '761.0', '1050.0', '845.0', '853.0',
       '513.0', '2400.0', '990.0', '1669.0', '525.0', '406.0', '472.0',
       '865.0', '445.0', '970.0', '393.0', '12000.0', '463.0', '447.0',
       '565.0', '3720.0', '642.0', '465.0', '2252.0', '724.0', '54321.0',
       '387.0', '1260.0', '613.0', '411.0', '696.0', '758.0', '557.0',
       '719.0', '501.0', '640.0', '481.0', '912.0', '424.0', '404.0',
       '703.0', '1584.0', '455.0', '536.0', '532.0', '625.0', '940.0',
       '795.0', '1470.0', '43200.0', '747.0', '1005.0', '487.0', '438.0',
       '431.0', '1151.0', '740.0', '549.0', '386.0', '377.0', '349.0',
       '1207.0', '3240.0', '1068.0', '474.0', '607.0', '452.0', '478.0',
       '1559.0', '958.0', '630.0', '959.0', '810.0', '492.0', '470.0',
       '1044.0', '454.0', '1616.0', '2070.0', '593.0', '923.0', '789.0',
       '436.0', '483.0', '4162.0', '477.0', '697.0', '1228.0', '482.0',
       '2015.0', '527.0', '773.0', '526.0', '1439.0', '1329.0', '432.0',
       '599.0', '954.0', '5760.0', '746.0', '486.0', '2800.0', '458.0',
       '461.0', '51420.0', '495.0', '614.0', '1750.0', '808.0', '2112.0',
       '556.0', '716.0', '590.0', '462.0'], dtype=object)

In [12]:
basics['genres'].isna().sum()

9180

In [13]:
#Drop NaN values
basics=basics.dropna(subset=['genres'])

In [14]:
basics['genres'].isna().sum()

0

In [15]:
basics['genres'].unique()

array(['Documentary,Short', 'Animation,Short', 'Comedy,Short', ...,
       'History,Reality-TV,War', 'Mystery,Reality-TV,Thriller',
       'Animation,Short,Talk-Show'], dtype=object)

In [16]:
#Filter by Documentary
basics=basics[~basics['genres'].str.contains('Documentary')]

In [17]:
basics['genres'].unique()

array(['Animation,Short', 'Comedy,Short', 'Short', ...,
       'History,Reality-TV,War', 'Mystery,Reality-TV,Thriller',
       'Animation,Short,Talk-Show'], dtype=object)

In [18]:
basics['titleType'].value_counts()

short           243815
movie           162547
tvEpisode       161710
video            91116
tvSeries         33380
tvMovie          17600
tvSpecial         8057
tvMiniSeries      4596
tvShort           3507
videoGame          186
Name: titleType, dtype: int64

In [19]:
#Filtering by movie only.
basics=basics[basics['titleType'].isin(['movie'])]

In [20]:
basics['titleType'].unique()

array(['movie'], dtype=object)

In [21]:
basics['startYear'].isna().sum()

2616

In [22]:
#Dropping NaNs
basics=basics.dropna(subset=['startYear'])

In [23]:
basics['startYear'].unique()

array(['1894', '1906', '1907', '1908', '1909', '1911', '1913', '1912',
       '1919', '1914', '1915', '1936', '1916', '1917', '1925', '1918',
       '1920', '1921', '1924', '1923', '1922', '1927', '1926', '1935',
       '1929', '1928', '1942', '1930', '1932', '1931', '1937', '1950',
       '1933', '1938', '1939', '1934', '1940', '1944', '1946', '1957',
       '1943', '1941', '1948', '2001', '1945', '1953', '1954', '1983',
       '1947', '1949', '1952', '1951', '1962', '1955', '1961', '1958',
       '1956', '1959', '1960', '1963', '1965', '1971', '1964', '1969',
       '1966', '1967', '1968', '1990', '1970', '1973', '1979', '1976',
       '2020', '1978', '1972', '1989', '1974', '1975', '1981', '1986',
       '1987', '2018', '1992', '1977', '1984', '1985', '1982', '1980',
       '1993', '1988', '1991', '1995', '2005', '1998', '2002', '1997',
       '2017', '2006', '1996', '1994', '2004', '1999', '2000', '2009',
       '2008', '2007', '2022', '2003', '1903', '2011', '2021', '1910',
       '2010', '2012', '2013', '2016', '2014', '2023', '2015', '2019',
       '2024', '2025', '2026', '2029'], dtype=object)

In [24]:
#Filtering by to 2000-2021, also to numeric.
basics['startYear']=pd.to_numeric(basics['startYear'],errors='coerce')
basics=basics[(basics['startYear']>=2000)&(basics['startYear']<=2021)]

In [25]:
basics['startYear'].unique()

array([2001, 2020, 2018, 2005, 2002, 2017, 2006, 2004, 2000, 2009, 2008,
       2007, 2003, 2011, 2021, 2010, 2012, 2013, 2016, 2014, 2015, 2019],
      dtype=int64)

In [26]:
akas.columns

Index(['titleId', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle'],
      dtype='object')

In [27]:
akas['region'].unique()

array(['US'], dtype=object)

In [28]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81891 entries, 34802 to 10011471
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81891 non-null  object
 1   titleType       81891 non-null  object
 2   primaryTitle    81891 non-null  object
 3   originalTitle   81891 non-null  object
 4   isAdult         81891 non-null  object
 5   startYear       81891 non-null  int64
 6   endYear         0 non-null      object
 7   runtimeMinutes  81891 non-null  object
 8   genres          81891 non-null  object
dtypes: int64(1), object(8)
memory usage: 6.2+ MB

In [29]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1448458 entries, 5 to 36562697
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1448458 non-null  object
 1   ordering         1448458 non-null  int64
 2   title            1448458 non-null  object
 3   region           1448458 non-null  object
 4   language         4012 non-null     object
 5   types            981374 non-null   object
 6   attributes       46995 non-null    object
 7   isOriginalTitle  1448458 non-null  object
dtypes: int64(1), object(7)
memory usage: 99.5+ MB

In [30]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 503723 entries, 0 to 1330816
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         503723 non-null  object
 1   averageRating  503723 non-null  float64
 2   numVotes       503723 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.4+ MB

# Exporting to csv.gz

In [31]:
os.makedirs('Data/',exist_ok=True)
os.listdir('Data/')

['API', 'tmdb_api_results_2000.json']

In [32]:
basics.to_csv('Data/basics_filtered.csv.gz', compression='gzip', index=False)
akas.to_csv('Data/akas_filtered.csv.gz', compression='gzip', index=False)
ratings.to_csv('Data/ratings_filtered.csv.gz', compression='gzip', index=False)